//- Menu navbar
mixin menuItem(link,name,class_1,class_2,class_3,tooltip)
    a.text-dark.no-decoration.transition-5.hiperlink.text-small(href=link onClick="return false" rel="noreferrer" class=class_1 class=class_2 class=class_3)=name
        .span.tooltip-text.text-extra-small=tooltip  

   
mixin menuBar()
    +menuItem("#","Home","upbar","tooltip","","Hola")
    +menuItem("#","About_me","upbar","tooltip","","Hola")
    +menuItem("#","Projects","upbar","tooltip","","Hola")
    +menuItem("#","Resume","upbar","tooltip","","Hola")
    +menuItem("#","Blog","upbar","tooltip","","Hola")

mixin small-menu()
    +menuItem("#","Home","small-hover","width-100vw")
    +menuItem("#","About_me","small-hover","width-100vw")
    +menuItem("#","Projects","small-hover","width-100vw")
    +menuItem("#","Resume","small-hover","width-100vw")
    +menuItem("#","Blog","small-hover","width-100vw")

mixin focusButton(name,link)
    a.focus_button(href=link, target="_blank", rel="noopener noreferrer" onClick="return false")= name


mixin outlineButton(name,link)
    a.outline_button(href=link, target="_blank", rel="noopener noreferrer" onClick="return false")= name


mixin social(name,icon,link)
    a.social-icons(href=link, target="_blank", rel="noopener noreferrer")
        i.fab.text-header(class=icon)
        p=name
