//- Menu navbar
mixin menuItem(link,name,class_1,class_2,class_3)
    a.text-dark.hiperlink(href=link onClick="return false" class=class_1 class=class_2 class=class_3
        class="no-decoration transition-5")=name
        //- span.width-100vw.height-45px
   
mixin menuBar()
    +menuItem("#","Home","upbar")
    +menuItem("#","About_me","upbar")
    +menuItem("#","Projects","upbar")
    +menuItem("#","Resume","upbar")
    +menuItem("#","Blog","upbar")

mixin small-menu()
    +menuItem("#","Home","small-hover","width-100vw")
    +menuItem("#","About_me","small-hover","width-100vw")
    +menuItem("#","Projects","small-hover","width-100vw")
    +menuItem("#","Resume","small-hover","width-100vw")
    +menuItem("#","Blog","small-hover","width-100vw")

